@keyframes changeColor {
    0% {
        color: black;
    }
    50% {
        color: white;
    }
    100% {
        color: black;
    }
}
html, body {
    height: 100%;
    margin: 0;
    background-color: rgb(46, 46, 46);
    transition: background-color 0.5s ease;
}
h1 {
    transition: color 0.5s ease;
    color: rgb(255, 254, 254);
    text-align: center;
    margin-top: 20px;
}
.dark-grey h1 {
    color: white;
}
.button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:checked + .slider:before {
    transform: translateX(26px);
}
.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    max-width: 450px; 
    margin-left: auto;
    margin-right: auto;
}

.box {
    width: calc(33.33% - 20px); 
    height: 100px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    border: none; 
    outline: none; 
    background: none; 
    font-family: sans-serif;
    font-weight: bold;
}
.box1 { background-color: #1abc9c; }
.box2 { background-color: #3498db; }
.box3 { background-color: #9b59b6; }
.box4 { background-color: #e74c3c; }
.box5 { background-color: #f1c40f; }
.box6 { background-color: #2c3e50; }

.light-line {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none; 
    animation: moveLine 3s linear infinite; 
    height: 10px; 
}

@keyframes moveLine {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100vw);
    }
}